{% load static %}
<span
  class="block relative"
  x-data="{showChildren:false}"
  @click.away="showChildren=false"
  @mouseenter="showChildren=true"
  @mouseleave="showChildren=false"
>
  <a
     href="{% url 'cart-site:cart_summary' %}"
    class="flex items-center h-10 leading-10 px-3 cursor-pointer no-underline hover:no-underline duration-100 mx-1 transition rounded-xl hover:bg-red-100"
  >
    <img
      class="inline ml-1 w-5"
      src="{% static 'base/image/shopping-cart.png' %}"
      alt=""
    />
    <span class="text-sm text-neutral-800 hover:text-neutral-700 opacity-95">
      سبد خرید
    </span>
    <span class="cart-sum-prod">
      <p class="w-4 mr-2 cart-sum-p" id="cart-quantity">{{ cart|length}}</p>
    </span>
    <span>
      <img
        class="w-4 mr-1"
        src="{% static 'base/image/chevron-down-login.png' %}"
        alt=""
      />
    </span>
  </a>
  <div
    class="bg-white rounded-2xl shadow-md first-letter:border-2 border-gray-50 text-sm absolute top-auto left-0 w-72 z-30 mt-1"
    x-show="showChildren"
    x-transition:enter="transition ease duration-300 transform"
    x-transition:enter-start="opacity-0 translate-y-2"
    x-transition:enter-end="opacity-100 translate-y-0"
    x-transition:leave="transition ease duration-300 transform"
    x-transition:leave-start="opacity-100 translate-y-0"
    x-transition:leave-end="opacity-0 translate-y-4"
    style="display: none"
    @mouseenter="showChildren=true"
    @mouseleave="showChildren=false"
  >
    <div class="bg-white rounded-2xl w-full relative z-10 py-2 px-2">
      <ul class="list-reset flex flex-col gap-y-2">
        {% comment %} <li class="relative">
          <a
            href="./single-product.html"
            class="px-2 py-2 flex w-full items-start hover:bg-red-50 rounded-xl"
          >
            <span class="flex justify-center items-center opacity-90">
              <div class="flex">
                <img
                  class="w-14 ml-2 rounded-lg"
                  src="./assets/image/product/bag.png"
                  alt=""
                />
                <div class="flex flex-col flex-wrap gap-y-1 justify-center">
                  <div class="opacity-80 w-full text-sm">
                    کوله پشتی مدل ایستاده
                  </div>
                  <div class="flex opacity-75 text-xs">
                    <div>قیمت:</div>
                    <div>700,000</div>
                    <div>تومان</div>
                  </div>
                </div>
                <span
                  class="text-red-400 hover:text-red-500 bg-red-100 hover:bg-red-200 px-2 text-xl font-bold h-7 rounded-full cursor-pointer absolute left-2 top-5"
                >
                  ×
                </span>
              </div>
            </span>
          </a>
        </li>
        <li class="relative">
          <a
            href="./single-product.html"
            class="px-2 py-2 flex w-full items-start hover:bg-red-50 rounded-xl"
          >
            <span class="flex justify-center items-center opacity-90">
              <div class="flex">
                <img
                  class="w-14 ml-2 rounded-lg"
                  src="./assets/image/product/bag.png"
                  alt=""
                />
                <div class="flex flex-col flex-wrap gap-y-1 justify-center">
                  <div class="opacity-80 w-full text-sm">
                    کوله پشتی مدل ایستاده
                  </div>
                  <div class="flex opacity-75 text-xs">
                    <div>قیمت:</div>
                    <div>700,000</div>
                    <div>تومان</div>
                  </div>
                </div>
                <span
                  class="text-red-400 hover:text-red-500 bg-red-100 hover:bg-red-200 px-2 text-xl font-bold h-7 rounded-full cursor-pointer absolute left-2 top-5"
                >
                  ×
                </span>
              </div>
            </span>
          </a>
        </li> {% endcomment %}
        <li class="relative">
          <a
           href="{% url 'cart-site:cart_summary' %}"
            class="px-2 py-2 flex w-full items-start justify-center"
          >
            <span class="flex justify-center items-center opacity-90">
              <button
                class="px-7 py-2 text-center text-white bg-red-500 align-middle border-0 rounded-lg shadow-md text-xs"
              >
                تسویه حساب
              </button>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</span>
